/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-between; /* Равномерное распределение панелей */
    align-items: flex-start;
    padding: 20px; /* Отступы от краев экрана */
    max-width: 1200px;
    margin: 0 auto; /* Центрирование контейнера на странице */
}

.left-panel, .right-panel {
    width: 25%; /* Ширина боковых панелей */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px; /* Внутренние отступы внутри панелей */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.center-panel {
    width: 40%; /* Ширина центральной панели */
    text-align: center;
    margin: 0 20px; /* Отступы между центральной и боковыми панелями */
}

.capsule {
    width: 200px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], textarea, input[type="date"], input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Стили для списков капсул */
#openedCapsuleList, #latestCapsuleList {
    list-style: none;
    padding: 0;
}

#openedCapsuleList li, #latestCapsuleList li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#openedCapsuleList img, #latestCapsuleList img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
}
